CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "users_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "is_student" bool NOT NULL, "is_teacher" bool NOT NULL, "is_admin" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "users_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "users_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "users_user_groups_user_id_group_id_b88eab82_uniq" ON "users_user_groups" ("user_id", "group_id");
CREATE INDEX "users_user_groups_user_id_5f6f5a90" ON "users_user_groups" ("user_id");
CREATE INDEX "users_user_groups_group_id_9afc8d0e" ON "users_user_groups" ("group_id");
CREATE UNIQUE INDEX "users_user_user_permissions_user_id_permission_id_43338c45_uniq" ON "users_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "users_user_user_permissions_user_id_20aca447" ON "users_user_user_permissions" ("user_id");
CREATE INDEX "users_user_user_permissions_permission_id_0b93982e" ON "users_user_user_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE TABLE IF NOT EXISTS "courses_course" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "image" varchar(100) NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "creator_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "courses_course_creator_id_6e799f35" ON "courses_course" ("creator_id");
CREATE TABLE IF NOT EXISTS "courses_enrollment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "enrolled_at" datetime NOT NULL, "course_id" bigint NOT NULL REFERENCES "courses_course" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "courses_enrollment_course_id_2631503e" ON "courses_enrollment" ("course_id");
CREATE INDEX "courses_enrollment_student_id_aebf8536" ON "courses_enrollment" ("student_id");
CREATE TABLE IF NOT EXISTS "courses_lesson" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NULL, "content" text NOT NULL, "video_url" varchar(200) NOT NULL, "order" integer unsigned NOT NULL CHECK ("order" >= 0), "is_published" bool NOT NULL, "course_id" bigint NOT NULL REFERENCES "courses_course" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "courses_lesson_course_id_16bc4882" ON "courses_lesson" ("course_id");
CREATE TABLE IF NOT EXISTS "courses_progress" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "completed" bool NOT NULL, "completed_at" datetime NULL, "lesson_id" bigint NOT NULL REFERENCES "courses_lesson" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "courses_progress_lesson_id_90725fed" ON "courses_progress" ("lesson_id");
CREATE INDEX "courses_progress_student_id_f168bdae" ON "courses_progress" ("student_id");
CREATE TABLE IF NOT EXISTS "courses_answer" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "text" text NOT NULL, "is_correct" bool NOT NULL, "order" integer unsigned NOT NULL CHECK ("order" >= 0), "question_id" bigint NOT NULL REFERENCES "courses_question" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "courses_answer_question_id_f7e35d1f" ON "courses_answer" ("question_id");
CREATE TABLE IF NOT EXISTS "courses_question" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "text" text NOT NULL, "question_type" varchar(20) NOT NULL, "points" integer unsigned NOT NULL CHECK ("points" >= 0), "test_id" bigint NOT NULL REFERENCES "courses_test" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "courses_question_test_id_2f3ad298" ON "courses_question" ("test_id");
CREATE TABLE IF NOT EXISTS "courses_testresult" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "score" real NOT NULL, "answers" text NOT NULL CHECK ((JSON_VALID("answers") OR "answers" IS NULL)), "attempts" integer unsigned NOT NULL CHECK ("attempts" >= 0), "completed_at" datetime NOT NULL, "lesson_id" bigint NOT NULL REFERENCES "courses_lesson" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "courses_testresult_lesson_id_fd2fb9db" ON "courses_testresult" ("lesson_id");
CREATE INDEX "courses_testresult_student_id_0de6ad9d" ON "courses_testresult" ("student_id");
CREATE UNIQUE INDEX "courses_enrollment_student_id_course_id_2d19b567_uniq" ON "courses_enrollment" ("student_id", "course_id");
CREATE UNIQUE INDEX "courses_progress_student_id_lesson_id_27b051a6_uniq" ON "courses_progress" ("student_id", "lesson_id");
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE TABLE IF NOT EXISTS "courses_test" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "is_active" bool NOT NULL, "lesson_id" bigint NOT NULL REFERENCES "courses_lesson" ("id") DEFERRABLE INITIALLY DEFERRED, "passing_score" integer unsigned NOT NULL CHECK ("passing_score" >= 0));
CREATE INDEX "courses_test_lesson_id_fd3bd6db" ON "courses_test" ("lesson_id");
CREATE TABLE IF NOT EXISTS "users_user_enrolled_courses" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "course_id" bigint NOT NULL REFERENCES "courses_course" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "users_user_enrolled_courses_user_id_course_id_aa290dd6_uniq" ON "users_user_enrolled_courses" ("user_id", "course_id");
CREATE INDEX "users_user_enrolled_courses_user_id_9f204f09" ON "users_user_enrolled_courses" ("user_id");
CREATE INDEX "users_user_enrolled_courses_course_id_57a5208d" ON "users_user_enrolled_courses" ("course_id");
