{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if role == 'student' %}
        {% trans "Регистрация студента" %}
    {% else %}
        {% trans "Регистрация преподавателя" %}
    {% endif %}
{% endblock %}
{% include 'partials/messages.html' %}
{% block content %}
<div class="container mt-5" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>
                        {% if role == 'student' %}
                            {% trans "Регистрация студента" %}
                        {% else %}
                            {% trans "Регистрация преподавателя" %}
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">{% trans "Зарегистрироваться" %}</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    {% trans "У вас уже есть профиль?" %}
                    <a href="{% url 'courses:login' %}">{% trans "Войти" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}