{% extends 'base.html' %}
{% load i18n course_tags %}

{% block title %}{% trans "Create Test" %}{% endblock %}

{% block content %}
<div class="container mt-5" data-aos="fade-up">
    <h1 class="mb-4">{% trans "Create Test for" %} {{ lesson.title }}</h1>
    {% include 'partials/messages.html' %}

    <div class="card mb-4" data-aos="fade-up">
        <div class="card-body">
            <form method="post" data-aos="fade-up">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" data-aos="fade-right">{% trans "Create Test" %}</button>
                <a href="{% url 'courses:manage_lessons' lesson.course.id %}" class="btn btn-outline-secondary" data-aos="fade-right">{% trans "Back to Lessons" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}