{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Удалить ответ" %}{% endblock %}

{% block content %}
<div class="container mt-5" data-aos="fade-up">
    <h1>{% trans "Delete Answer" %}</h1>
    <p>{% trans "Вы уверены, что хотите удалить ответ?" %} "{{ answer.text|truncatechars:30 }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Удалить" %}</button>
        <a href="{% url 'courses:edit_question' answer.question.id %}" class="btn btn-secondary">{% trans "Отмена" %}</a>
    </form>
</div>
{% endblock %}