{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Добро пожаловать на нашу платформу!" %}{% endblock %}

{% block content %}
<div class="container mt-5" data-aos="fade-up">
    <h1>{% trans "Приветсвуем вас на нашей образовательной платформе" %}</h1>
    <p>{% trans "Начни изучать JavaScript с помощью наших курсов!" %}</p>
    <h3>{% trans "Доступные курсы" %}</h3>
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4 mb-4" data-aos="fade-up">
                <div class="card">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description|truncatewords:20 }}</p>
                        <a href="{% url 'courses:course_detail' course.id %}" class="btn btn-primary">{% trans "Просмотр курсов" %}</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>{% trans "Нет доступных курсов." %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}